html {
    font-family: "Courier New", monospace;
}

body {
    margin: 0 auto;
    width: 800px;
}

header {
    border: 5px solid red;
    width: 800px;
    padding: 1rem;
    text-align: center;
}

main {
    border: 5px solid darkcyan;
    padding: 1rem;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    border: 5px solid black;
    width: 800px;
    padding: 1rem;
}
